<html>
<body>
<h1>Hello</h1>
<form action="/loginProc" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="login">
</form>
</body>
</html>